flows.json
[{"id":"b6777a56.866438","type":"tab","label":"Life Expectancy","disabled":false,"info":""},{"id":"9d73209.80370e","type":"ui_form","z":"b6777a56.866438","name":"","label":"","group":"82259733.176f48","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Developed","value":"developed","type":"checkbox","required":true,"rows":null},{"label":"Adult Mortality (per 1000 population)","value":"mortality","type":"number","required":true,"rows":null},{"label":"Infant Deaths (per 1000 population)","value":"deaths","type":"number","required":true,"rows":null},{"label":"Alcohol Consumption","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"percent_expen","type":"number","required":true,"rows":null},{"label":"Hepatitis B (in %)","value":"HepB","type":"number","required":true,"rows":null},{"label":"Measles (per 1000 population)","value":"measles","type":"number","required":true,"rows":null},{"label":"Avg BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Number of under 5 deaths (per 1000 population)","value":"under5","type":"number","required":true,"rows":null},{"label":"Polio Immunization (in %)","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"total_expen","type":"number","required":true,"rows":null},{"label":"Diphtheria Immunization (in %)","value":"diphtheria ","type":"number","required":true,"rows":null},{"label":"Death by HIV/AIDS (per 1000 population)","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP (in USD)","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population of the Country","value":"population","type":"number","required":true,"rows":null},{"label":"Prevalence of Thinness (age 10 - 19)","value":"thin10","type":"number","required":true,"rows":null},{"label":"Prevalence of Thinness (age 5 - 9)","value":"thin5","type":"number","required":true,"rows":null},{"label":"Income Composition (Range 0 - 1)","value":"income","type":"number","required":true,"rows":null},{"label":"Number of years of Schooling (years)","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","developed":false,"mortality":"","deaths":"","alcohol":"","percent_expen":"","HepB":"","measles":"","bmi":"","under5":"","polio":"","total_expen":"","diphtheria ":"","hiv":"","gdp":"","population":"","thin10":"","thin5":"","income":"","schooling":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"Enter the details as per the stated Label","x":170,"y":380,"wires":[["4e336623.480898"]]},{"id":"4e336623.480898","type":"function","z":"b6777a56.866438","name":"Set Token Variables","func":"var status = \"Developing\";\nif (msg.developed)\n{\n    status = \"Developed\";\n}\n\nglobal.set(\"country\",msg.payload.country)\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"status\",status)\nglobal.set(\"mortality\",msg.payload.mortality)\nglobal.set(\"deaths\",msg.payload.deaths)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"percen_expen\",msg.payload.percent_expen)\nglobal.set(\"total_expen\",msg.payload.total_expen)\nglobal.set(\"HepB\",msg.payload.HepB)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"under5\",msg.payload.under5)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"diphtheria\",msg.payload.diphtheria)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"population\",msg.payload.population)\nglobal.set(\"thin5\",msg.payload.thin5)\nglobal.set(\"thin10\",msg.payload.thin10)\nglobal.set(\"schooling\",msg.payload.schooling)\n\nvar apikey = \"3UsOqjaTqWKw05X8ZYYGPZYSo9qh3jHlmLEXmo_Zw8Gc\"\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["47fbcab5.41b314"]]},{"id":"47fbcab5.41b314","type":"http request","z":"b6777a56.866438","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":380,"wires":[["eb8382dc.68ec68"]]},{"id":"eb8382dc.68ec68","type":"function","z":"b6777a56.866438","name":"Create Token","func":"var token = msg.payload.access_token\nvar instance_id = \"12048521-9148-44fa-9f65-4fecbb255880\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nvar country = global.get(\"country\")\nvar year = global.get(\"year\")\nvar status = global.get(\"status\")\nvar mortality = global.get(\"mortality\")\nvar deaths = global.get(\"deaths\")\nvar alcohol = global.get(\"alcohol\")\nvar percen_expen = global.get(\"percen_expen\")\nvar total_expen = global.get(\"total_expen\")\nvar HepB = global.get(\"HepB\")\nvar measles = global.get(\"measles\")\nvar bmi = global.get(\"bmi\")\nvar income = global.get(\"income\")\nvar under5 = global.get(\"under5\")\nvar polio = global.get(\"polio\")\nvar diphtheria = 100\nvar hiv = global.get(\"hiv\")\nvar gdp = global.get(\"gdp\")\nvar population = global.get(\"population\")\nvar thin5 = global.get(\"thin5\")\nvar thin10 = global.get(\"thin10\")\nvar schooling = global.get(\"schooling\")\n\nmsg.payload = {\n  \"input_data\": [\n    {\n      \"fields\": [\n      \t\"Country\",\n        \"Year\",\n        \"Status\",\n        \"Adult Mortality\",\n        \"infant deaths\",\n        \"Alcohol\",\n        \"percentage expenditure\",\n        \"Hepatitis B\",\n        \"Measles \",\n        \"BMI\",\n        \"under-five deaths\",\n        \"Polio\",\n        \"Total expenditure\",\n        \"Diphtheria\",\n        \"HIV/AIDS\",\n        \"GDP\",\n        \"Population\",\n        \"thinness  1-19 years\",\n        \"thinness 5-9 years\",\n        \"Income composition of resources\",\n        \"Schooling\"\n      ],\n      \"values\": [\n        [\n\t\tcountry,\n        year,\n        status,\n        mortality,\n        deaths,\n        alcohol,\n        percen_expen,\n        HepB,\n        measles,\n        bmi,\n        under5,\n        polio,\n        total_expen,\n        diphtheria,\n        hiv,\n        gdp,\n        population,\n        thin10,\n        thin5,\n        income,\n        schooling\n        ]\n      ]\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":380,"wires":[["4cbe3411.18d59c"]]},{"id":"4cbe3411.18d59c","type":"http request","z":"b6777a56.866438","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/b8380083-fdf5-485a-96ae-2c89efd762ed/predictions","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":380,"wires":[["cab01240.2208a"]]},{"id":"cab01240.2208a","type":"function","z":"b6777a56.866438","name":"Parse result","func":"msg.payload = msg.payload['predictions']['0']['values']['0']['0']\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":380,"wires":[["5bb0c2eb.ce627c"]]},{"id":"5bb0c2eb.ce627c","type":"ui_toast","z":"b6777a56.866438","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Prediction","name":"","x":1150,"y":380,"wires":[[]]},{"id":"82259733.176f48","type":"ui_group","z":"","name":"Form","tab":"70b9d656.c75948","order":1,"disp":false,"width":"9","collapse":false},{"id":"70b9d656.c75948","type":"ui_tab","z":"","name":"Life Expectancy Prediction","icon":"dashboard","disabled":false,"hidden":false}]